@fontface {
  font-family: 'DM Sans', cursive;
  src: url("https://fonts.google.com/specimen/DM+Sans?query=dm+sans")
}

body {
  font-family: 'DM Sans', cursive;
}

.page {
  width: 1024px;
  max-width: 98%;
  margin: 0 auto;
  margin-top: 10px;
}
