.navbar-brand {
  line-height: 56px;
  color: white !important;
  font-size: large;
} 

.rs-navbar {
  background: #428ac9 !important;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-action, .nav-action:hover {
  background: transparent;
  line-height: 56px;
  padding: 0;
  color: white;
}